<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Osadnicy</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="title"> Osadnicy - ostatnia nadzieja </div>
    <div id="Logowanie"> <br><h1> Logowanie </h1>
        <br><br><br>
        <a href="/Login"><div class="Button">
            Zaloguj
        </div></a>
        <a href="/Register"><div class="Button">
            Zarejestruj
        </div></a>
    </div>
    <div id="Rysunek">
        <img src="/image/osada.jfif" alt="Osada">
    </div>
</body>
</html>