<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div id="title"> Osadnicy - ostatnia nadzieja </div>

    <div id="Form">
        <form>
            <input type="text" placeholder="Login" required><br>
            <input type="text" placeholder="Hasło" required><br>
            <input type="button" value="Zaloguj"><br>
        </form>
        <a href="/"><div id="BackButton">
            Strona gółwna
        </div></a>
    </div>
</body>
</html>