<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div id="title"> Osadnicy - ostatnia nadzieja </div>

    <div id="Form">
        <form id="login-form" method="post">
            <input type="text" placeholder="Login" name="login" ><br>
            <input type="text" placeholder="Hasło" name="password"><br>
            <input type="submit" value="Zaloguj"><br>
        </form>
        <a href="/"><div id="BackButton">
            Strona gółwna
        </div></a>
    </div>
</body>
</html>