<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Osadnicy</title>
    <link rel="stylesheet" href="/mainStyle.css">
    <script src="/script.js"></script>
</head>
<body>
    <div id="contener">
        <div id="bars">
            <div class="resource_icon">
                <img height="50px" width="50px" src="image/resource_icons/woda.png">
            </div>>
            <div class="progress-bar">
                <div th:attr="data-size=${user.userResoucesInGame.water}" class="progress" id="waterBar"></div>
            </div>
            <div class="resource_icon">
                <img height="50px" width="50px" src="image/resource_icons/zywnosc.png">
            </div>>
            <div class="progress-bar">
                <div th:attr="data-size=${user.userResoucesInGame.food}" class="progress" id = "foodBar"></div>
            </div>
            <div class="resource_icon">
                <img height="50px" width="50px" src="image/resource_icons/wood.webp">
            </div>>
            <div class="progress-bar">
                <div th:attr="data-size=${user.userResoucesInGame.wood}" class="progress" id = "woodBar"></div>
            </div>
            <div class="resource_icon">
                <img height="50px" width="50px" src="image/resource_icons/stone.webp">
            </div>>
            <div class="progress-bar">
                <div th:attr="data-size=${user.userResoucesInGame.stone}" class="progress" id = "stoneBar"></div>
            </div>
            <div class="resource_icon">
                <img height="50px" width="50px" src="image/resource_icons/gold.png">
            </div>>
            <div class="progress-bar">
                <div th:attr="data-size=${user.userResoucesInGame.gold}" class="progress" id = "goldBar"></div>
            </div>

        </div>
        <div id="buildings">
            <div id="townHail">
                <button onclick="TownHailClicked();">townHail</button>
            </div>
        </div>
        <div id="additionalWindow">
            <h1 id="WindowTitle">Brak<h1>
            <hr color="gold">
            <div id="midOfWindow">
                <div id="ViewImg"><img id="ViewImgScr" width=300px height=300px src="image/resource_icons/woda.png" alt=""></div>
                <span id="TextInWindow">ajskdjkasjdkjaskd<br>asdasdas</span>
            </div>
            <button id="button1" onclick="CloseHelperWindow();">Anuluj</button>
            <button id="button2">Akceptuj</button>       
        </div>
    </div>
</body>
</html>