<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div id="title"> Osadnicy - ostatnia nadzieja </div>

    <div id="Form">
        <form id="login-form" method="post">
            <input type="text" placeholder="Login" required name="login"><br>
            <input type="text" placeholder="Hasło" required name="password"><br>
            <input type="submit" value="Zarejestruj"><br>
        </form>
        <a href="/"><div id="BackButton">
            Strona gółwna
        </div></a>
    </div>
</body>
</html>